<mat-sidenav-container class="sidenav-izquierda" (backdropClick)="cerrarSide()">
    <mat-sidenav #sidenav mode="over" (keydown.escape)="cerrarSide()" disableClose>
        <!--inicia menu navegacion-->
        <p class="titulo-sidenav">
            <mat-icon>shop</mat-icon>
        </p>
        <br/><br/>
        <button class="btn-sidenab" mat-button [routerLink]="'/'">Inicio</button>
        <br/><br/>
        <button class="btn-sidenab" mat-button [routerLink]="'/Productos'">Productos</button>
        <br/><br/>
        <button class="btn-sidenab" mat-button [routerLink]="'/Presentaciones'">Presentaciones</button>
        <br/><br/>
        <button class="btn-sidenab" mat-button [routerLink]="'/'">Catalogo</button>
        <br/><br/><br/>
        <button class="btn-cerrar-sidenab" mat-raised-button color="accent" (click)="cerrarSide()">
          <mat-icon>close</mat-icon>
      </button>
        <!--termina menu navegacion-->
    </mat-sidenav>
    <mat-sidenav-content>
        <!--inicia contenedor primario-->
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
            <span>Mi tienda</span>
        </mat-toolbar>

        <br/>

        <div class="espacio-breadcrumb">
            <button mat-raised-button color="accent" [routerLink]="'/Productos'">
              Productos
          </button>

            <button mat-raised-button color="accent" [routerLink]="'/Presentaciones'">
              Presentaciones
          </button>
        </div>

        <br/>

        <router-outlet></router-outlet>
        <!--termina contenedor primario-->
    </mat-sidenav-content>
</mat-sidenav-container>