<mt-tabla-presentacion></mt-tabla-presentacion>

<br/>

<mt-boton-presentacion></mt-boton-presentacion>

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Registro de productos
            </mat-panel-title>
            <mat-panel-description>
                Ingresa tus datos
            </mat-panel-description>
        </mat-expansion-panel-header>
        <!--espacio del acordion-->
    </mat-expansion-panel>
</mat-accordion>